.box {
    text-align: center;
    margin: auto;
    width: 20%;
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,105,1) 0%, rgba(0,212,255,1) 100%);
}

.box div {
    margin-top: 10px;
    text-align: center;
}

.box div label {
    font-weight: bold;
}

.box Input {
    margin: auto;
    display: inline-block;
}