.Informations {
    position: relative;
    top:  100px;
    left: 100px;
    display: inline-block;
    text-align: center;
    background-color: #ABFFFF;
    border: 1px solid black;
    width: 50%;
}

.Informations ul {
    list-style-type: none;
    display: inline;
}

@media (max-width: 600px){
    .Informations{
    position: unset;
    bottom: unset;
    left: unset;
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    }
}