.Signup{
    text-align: center;
    width: 40%;
    display: inline-block;
}

.Signup button {
    width: unset;
    background-color: red;
}

@media (max-width: 600px){
    .Signup input {
        width: 100%;
        resize: vertical;
    }
}