.Login{ 
    text-align: center;
    width: 40%;
    display: inline-block;
}

.Login Button { 
    width: unset;
    background-color: red;
}

@media (max-width: 600px){
    .Login input {
        width: 100%;
        resize: vertical;
    }
}