.Logo{
    background-color: inherit;
    padding: 8px;
    height: 73%;
    position: relative;
}

.Logo_logged{ 
    background-color: inherit;
    padding: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.Logo_logged img {
    width: 100px;
    height: 100px;
}

.Logo img{
    height: 350px;
}

@media (max-width: 600px){
    .Logo_logged img{
        width: 75px;
        height: 75px;
    }
}