.Button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    width: 20%;
}

.Red {
    background: red;
    border-radius: 10px;
}

.Button:hover { 
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

@media (max-width: 600px){
    .Button {
        display: block;
        margin: 20px auto;
        width: 80%;
        text-align: center;
    }
}